.boxInfos{
    padding: 2.2rem 1.8rem 2.2rem 3.6rem ;
    background-color: #fff;
    box-shadow: 4px 4px 60px hsl(0, 0%, 0%, 0.12);
    border-radius: 8px;
    position: relative;
    width: 624px;
}

.boxInfos:first-of-type{
    margin-bottom: 2.2rem;
}

.subtitulo{
    color: var(--azul-primario); 
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}

.boxIcon{
    padding: 1.6rem;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 100%;
    border: 3px solid var(--azul-primario);

    position: absolute;
    left: -6%; 
    top: 12%;
}

@media screen and (max-width: 900px) {
    .boxIcon{
        padding: 1.6rem;
        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 100%;
        border: 3px solid var(--azul-primario);
    
        position: absolute;
        left: -15%; 
        top: 1%;
    }
}