:root{
    --azul-primario:  #0057FF;
    --rosa-primario:  #E52E91;
    --verde-primario:  #17E58F;
    --background-primario: #030D21 ;
    --background-secundario:  #041029 ;
    --azul-escuro:  #011236;
    --rosa-escuro:  #1A0510;
    --verde-escuro: #0A332F;
}; 