.itensConteiner {
    align-self: center;
    display: flex;
    border-radius: 30px;
    margin: 30px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, var(--azul-secundario), var(--lilas-secundario), 0.5);
    height: 100%;
}

.firstConteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.feedTitle {
    margin-top: 20px;
    color: var(--background-primario);
}
.item {
    display: inline-block;
    margin: 26px;
    margin-top: 10px;
    width: 200px;
    height: 350px;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 255, 255);
}

article {
    width: 200px;
    height: 200px;
    border-radius: 30px 0px;
    background-color: rgb(197, 119, 119);
}

.itemImg {
    width: 200px;
    height: 200px;
    border-radius: 30px 0px;
}

.itemTitleDesc {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.itemTitle {
    font-size: 25px;
    padding-left: 10px;
    font-weight: 500;

}

.itemDesc {
    font-size: 20px;
    padding-left: 10px;
    color: rgb(116, 116, 116);
    font-weight: 300;

}




