.formContainer {
    display: flex;
    position: absolute;
    bottom: 90px;
    left: 250px;
    opacity: 0.9;
}

.form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: aqua;
    margin: 30px;
    padding: 10px;
    background-color: var(--lilas-primario);
}

.label {
    margin: 4px 0px;
    font-size: small;
    font-weight: 700;
    color: var(--background-primario);
}

.input {
    border: none;
    height: 20px;
    outline: none;
}

.textarea {
    border-radius: 4px;
    border: none;
    height: 100px;
    outline: none;
}

.buttonImg {
    margin-bottom: 8px;
    cursor: pointer;
    border: none;
}

.buttonSubmit {
    align-self: center;
    background-color: var(--background-primario);
    color: var(--lilas-primario);
    border: inset 2px solid var(--background-primario);
    font-weight: 700;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.buttonSubmit:hover {
    background-color: var(--lilas-primario);
    color: var(--background-primario);
    border: 2px solid var(--background-primario);
}