@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

.contComoFunciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.titleComoFunciona {
    font-family: 'Oswald', sans-serif;
    font-size: 3.8rem;
    text-transform: uppercase;
    color: #030D21;
    margin: 6rem 0 .1rem 0;
}

.textoComoFunciona {
    font-family: "Roboto Mono", sans-serif;
    font-size: 1.3rem;
    margin: 0;
    color: #0057FF;
}

.slide {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 970px;
    height: 400px;
    margin: 3rem 0;
}

.contratar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    margin-top: 4rem;
}


.infoCursos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1170px;
    height: 150px;
    background-color: #142D61;
    margin: 0 auto;
    position: relative;
    top: -75px;
    border-radius: 4px;
}

.review {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
}

.reviewCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1170px;
    height: inherit;
    position: relative;
    
}

.personHome img {
    position: absolute;
    top: 0;
    left: 0;

    
}

.reviewItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    margin-left: 120px;
}


@media screen and (max-width: 900px) {
    .contComoFunciona {
      display: flex;
    }
    .titleComoFunciona{
        text-align: center;
        margin-top: 10px;
    }.textoComoFunciona{
        text-align: center;
    }
}