@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--preto);
    width: 100%;
    height: 60px;
}

.inFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.logoContainer {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    width: 15rem;
    margin: 20px;
}

.logoIcon {
    width: 55px;
    margin: 20px;
}

.inFooter p{
    flex: 1 1;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    color: #808080;
    margin: 20px;
}

.poweredBy {
    flex: 1 1;
    margin: 20px;
}

.footerLinks {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 100px 0;
    width: 1300px;
}

.inFooter ion-icon {
    font-size: 15px;
}

.inFooter ion-icon:hover {
    transform: none;
}

.footerLinks p {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #0057FF;
    margin-bottom: 5px;
    padding-left: 39px;
}

.footerLinks ul li{
    padding: 8px 0;
    list-style: none;
    
}

.footerLinks ul li a {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    color: #808080;
    text-decoration: none;
}

.footerLinks ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .footerLinks{
      display: flex;
      flex-direction: column;
    }

    .logoFooter{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .logoFooter p{
        width: 100%;
        text-align: center;
    }

    .footerCopy{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer{
        width: 100%;
    }

    .lang{
        margin-top: 15px;
    }
}