
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.header-userlogged {
    display: flex;
    background-color: var(--background-secundario);
    box-shadow: var(--background-primario) 0px 0px 8px 2px;
}

.logo-icon {
    width: 10rem;
    height: auto;
}

.pesquisa {
    position: relative;
    height: 25px;
    width: 230px;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--background-primario);
    border: none;
    box-shadow: inset var(--sombra) 0px 2px 3px 1px, var(--sombra) 0px 5px 15px -8px;
    background-image: url(../../img/search-outline.svg);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    text-indent: 30px;
}

.pesquisa:focus {
    outline: none;
}

.containerInput {
    display: flex;
    flex: 2.5 1;
    justify-content: center;
    align-items: center;
}

ion-icon {
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
    color: black;
}

ion-icon:hover {
    transform: scale(1.3,1.3);
}

.containerLogo {
    display: flex;
    flex: 2 1;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 20px;
}

nav {
    display: flex;
    flex: 2 1;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
    gap: 1px;
}

.Link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.Link p {
    font-size: 15px;
    color: black;
}

li {
    font-size: 1.6rem;
    list-style-type: none;
}





@media screen and (max-width: 900px) {
    .boxNavbar {
      display: flex;
      flex-direction: column;
    }
}