.contValor {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 100px;
    background-color: #041029;
    border: 1px solid #0057FF;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 20px;
}

.btnValor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    background-color: #011236;
    border-radius: 65px;
    position: absolute;
    top: -20px;
    box-sizing: border-box;
}

.btnValor p {
    font-family: "Roboto Mono", sans-serif;
    color: #0057FF;
}

.textValor {
    display: flex;
    align-items: center;
}

.textValor p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 15px;

}


