:root{
    --lilas-primario:  #6C4AB6;
    --lilas-secundario:  #8D72E1;
    --azul-primario:  #8D9EFF;
    --azul-secundario:  #B9E0FF;
    --background-primario: #F9F9F9;
    --background-secundario:  #ffffff;
    --preto: #120d0d;
    --sombra: #00000050;
}