.boxPerguntasFrequentes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 80px;
    z-index: 0;
}

.boxPerguntasFrequentes .box{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
}

.boxPerguntasFrequentes .box div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tituloPerguntas{
    font-family: 'Oswald', sans-serif;
    font-size: 3.8rem;
    margin: 16px;
    color: #FFFFFF;
}

/* FIM Efeito de luz */

@media screen and (max-width: 900px) {
    .box {
      margin-top: 50px;
    }

    .titulo{
        text-align: center;
    }

    .infosLado{
        margin-top: 50px;
        width: 90%;
    }
    .infosLado .boxInfos{
        width: 100%;
    }
}