.contCursosGeral {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1200px;
    justify-content: center;
    align-items: center;
    position: relative;
  
}

.containerCursos{
    margin-top: 150px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxTituloCursos{
    position: relative;
}


.tituloSecaoCursos{
    font-family: 'Oswald', sans-serif;
    padding: 0.6rem 1.6rem;
    font-weight: bold;
    font-size: 3rem;
    color: var(--verde-primario);
    background-color: hsl(221, 96%, 11%, 0.80);
    z-index: 10;
    position: relative;
    backdrop-filter: blur(4px);
} 

.iconMoney{
    position: absolute;
    right: 90%;
    top: -100%;
}

.tituloListas{
    font-size: 2.2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

/* COMEÇO LISTAGEM DE CURSOS */

.containerListaCurso{
    padding: 128px 80px;
    display: flex;
    flex-direction: column;
    gap: 12.8rem;
}

.boxListagem{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.carrosselCursos{
    display: flex;
    gap: 2.8rem;
    box-sizing: border-box;
}

/* FIM LISTAGEM DE CURSOS */

@media screen and (max-width: 900px) {
    .carrosselCursos{
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .contCursosGeral{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
}